<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <h1>{{title}}</h1>
    <img class="portrait" src="/img/Khushal_Patel.jpg" alt="" />
    <p>created by{{name}}</p>
    </div>
    {{!-- {{>header}}
    <h1>{{title}}</h1>
    <img class="portrait" src="/img/Khushal_Patel.jpg" alt="" />
    <p>created by{{name}}</p> --}}
    {{>footer}}
  </body>
</html>