{{! <h1>Static header.hbs text</h1> }}
{{!-- <h1>{{title}}</h1> --}}

{{! <div> }}
<header>
  <h1>{{title}}</h1>
  <a href="/">weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a></header>

{{! </div> }}